;; shadow-cljs configuration
{:source-paths ["src/cljs" "/home/akash/workspace/snow/src"]

 :nrepl {:port 55000}
 :http {:port 9070
        :host "0.0.0.0"}


 :dependencies [[reagent "0.8.0-alpha2"]
                [reagi "0.10.1"]
                [funcool/bide "1.6.0"]
                [cljs-ajax "0.6.0"]
                [proto-repl "0.3.1"]
                [day8.re-frame/http-fx "0.1.3"]
                [hickory "0.7.1"]
                [re-frame "0.10.5"]
                [snow "0.1.2"]
                [cider/cider-nrepl "0.17.0-SNAPSHOT"]
                [day8.re-frame/re-frame-10x "0.3.3-react16"]
                [refactor-nrepl "2.4.0-SNAPSHOT"]]

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :dev {:compiler-options {:optimizations :none
                                         :closure-defines      {"re_frame.trace.trace_enabled_QMARK_" true}
                                         :preloads             [day8.re-frame-10x.preload]
                                         }}
                :main voidwalker.source.app/main
                :devtools   {:after-load   voidwalker.source.app/main
                             :preloads     [devtools.preload
                                            day8.re-frame-10x.preload]}
                :modules
                {:app
                  {:entries [voidwalker.source.app]}}}}}

        ;; start a development http server on http://localhost:8020
        ; :devtools
        ; {:http-root "public"
        ;  :http-port 8020}}}}
